# Credenciais / segredos
.env
*.env
config.json
secrets.json
credentials.json
config.ini
log.txt

# Arquivos locais
*.log
*.tmp
*.cache

# VS Code
.vscode/

# Python
__pycache__/
*.pyc

# Sistema
.DS_Store
Thumbs.db
